<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <title>十年一品-关于我们</title>
    <link href="../static/style/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../static/js/public.js"></script>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jqpublic.js"></script>
    <script type="text/javascript" src="../static/js/getcookie.js"></script>
<script type="text/javascript" src="../static/js/cart.js"></script>
</head>
<body>
<header>
    <section class="Topmenubg">
        <div class="Topnav">
            <div class="LeftNav">
                <a href="/login">注册</a>/<a href="/login">登录</a>
            </div>
            欢迎：<span id="msg" style="color: #d43f3a;font-weight: bold"> </span>
            <div class="dropdown">
                <span style="color:red;font-weight: bold"> > </span>
                <div class="dropdown-content">
                    <a href="/modifyUser">修改密码</a>
                    <a href="/logout">退出登录</a>
                </div>
            </div>
            <div class="RightNav">
                <a href="/userOrderList"  title="我的订单"><img style="width: 40px" src="../static/images/dd.png"/></a> <a href="/shoppingCart"><img src="../static/images/car1.png"/></a>
            </div>
        </div>
    </section>
    <div class="Logo_search">
        <div class="Logo">
            <img src="../static/images/wangshangdingcan1.jpg">
            <i></i>
            <span style="color: #d43f3a;font-weight: bold;font-size: 16px">十年一品</span>
        </div>
        <div class="Search">
            <div style="border: 1px white solid;border-radius:6px; height: 45px;margin-top: 25px;height: 45px;background-color: black">
                <tt style="color:#d43f3a;font-size: 15px;font-weight: bold;">公告</tt> <marquee direction="left"  align="bottom" height="25" width="100%" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="6" scrolldelay="5">
                <t style="color: red;font-size: 19px;font-weight: bold;">{{.notice}}</t></marquee>
            </div>
        </div>
    </div>
 <nav class="menu_bg">
  <ul class="menu">
      <li><a href="/index_user">首页</a></li>
      <li><a href="/orderFood" >订餐</a></li>
      <li><a href="/userInformation">用户中心</a></li>
      <li style="background-color:#fd5411;"><a href="/aboutWe" style="color:#fff">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Psection MT20">
 <article class="A-left Overflow">
  <h1 class="Font16 FontW classtitle">十年一品 简介</h1>
  <div class="A-read" style="font-size: 15px">
      十年一品 品质生活。<br/>
   十年一品主题：<br/>
      &nbsp &nbsp &nbsp &nbsp 吃一碗饭 &nbsp &nbsp 品一座城<br/>
      &nbsp &nbsp &nbsp &nbsp 品一碗菜 &nbsp &nbsp 识一类人<br/>
      &nbsp &nbsp &nbsp &nbsp 一品知味 &nbsp &nbsp 百品知心<br/>
      &nbsp &nbsp &nbsp &nbsp 印象小楼 &nbsp &nbsp 十年一品<br/>
  “品质为第一”乃为我们遵循的本质，其餐饮个性张扬，深沉内涵，深的客户喜欢<br/>
  十年一品简约风格：<br/>
      &nbsp &nbsp &nbsp &nbsp  现代简约风格是很多追求时尚的年轻的选择。<br/>
      &nbsp &nbsp &nbsp &nbsp  现代简约风格的特点是由曲线和非对称线条构成。<br/>
      &nbsp &nbsp &nbsp &nbsp  虽然简单，但却给人时尚大方的感觉，很适合白领的生活需求。<br/>
      &nbsp &nbsp &nbsp &nbsp  有节奏感，整齐，给人简单却又无比新意的感觉。<br/>

  我们期待是：能给你不一样的惊喜 餐饮数十年才知入席才晓饭菜 进门方知只是家的味道.....

  </div>
 </article>
 <aside class="A-right Overflow">
  <div class="AAlist">
   <span class="AAlt FontW Font14 Block" style="">十年一品  &nbsp &nbsp &nbsp品质生活</span>
  </div>
     <div style="margin:8px 0;">
         <a href="#" ><img style="width: 100%" src="../static/upload/yzt4.jpg"></a>
     </div>
  <div style="margin:8px 0;">
   <a href="#" ><img style="width: 70%" src="../static/upload/yzt3.png"></a>
  </div>
 </aside>
</section>
<!--End content-->
<div class="F-link">
    <span>合作商家-友情链接：</span>
    <a style="color: #80b188" href="http://hlnme.canyinfood.com/nc2/?utm_source=baiduppc&utm_medium=ppc&utm_term=%E5%8D%A1%E6%97%BA%E5%8D%A1&utm_content=%3C%E5%8D%A1%E6%97%BA%E5%8D%A1%E5%A5%B6%E8%8C%B6%3E&utm_campaign=HLNME_%5B%E7%AB%9E%E5%93%81%5D%28%E5%A5%B6%E8%8C%B6%29&semk=67916069841&semc=17606887199&semm=1&semp=cl5&sema=bj&semd=pc" target="_blank" title="卡旺卡">卡旺卡</a>
    <a style="color: #80b188" href="http://www.southbeauty.com/" target="_blank" title="俏江南">俏江南</a>
    <a style="color: #80b188" href="http://www.waipojia.com/WCMS/Index.aspx" target="_blank" title="外婆家">外婆家</a>
    <a style="color: #80b188" href="http://www.weijialiangpi.com/home.aspx" target="_blank" title="魏家凉皮">魏家凉皮</a>
    <a style="color: #80b188" href="http://www.swgg100.com/bd/kyp/pc/1dd.html?e_keywordid=82461111989" target="_blank" title="一点点">一点点</a>
</div>
<footer>
    <section class="Otherlink">
        <aside>
            <div class="ewm-left">
                <p>手机扫描二维码：</p>
                <img style="width: 95px;height: 119px" src="../static/images/二维码.png">
                <img style="width: 95px;height: 119px" src="../static/images/微信.jpg">
            </div>
            <div class="tips">
                <p>客服热线</p>
                <p><i>17730185585</i></p>
                <p>配送时间</p>
                <p><time>09：00</time>~<time>22:00</time></p>
                <p>网站公告</p>
            </div>
        </aside>
        <section>
            <div>
                <span><i class="i1"></i>配送支付</span>
                <ul>
                    <li><a href="/aboutWe" target="_blank" title="标题">支付方式</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">配送方式</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">配送效率</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">服务费用</a></li>
                </ul>
            </div>
            <div>
                <span><i class="i2"></i>关于我们</span>
                <ul>
                    <li><a href="/aboutWe" target="_blank" title="标题">招贤纳士</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">网站介绍</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">配送效率</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">商家加盟</a></li>
                </ul>
            </div>
            <div>
                <span><i class="i3"></i>帮助中心</span>
                <ul>
                    <li><a href="/aboutWe" target="_blank" title="标题">服务内容</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">服务介绍</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">常见问题</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">网站地图</a></li>
                </ul>
            </div>
        </section>
    </section>
</footer>
<script>
    var uname= getCookie('name');
    $("#msg").html(uname)
    $("#msg1").html(uname)
</script>
</body>
</html>
