<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>十年一品-我的购物车</title>
<link href="../static/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/jqpublic.js"></script>
<script type="text/javascript" src="../static/js/cart.js"></script>
    <script type="text/javascript" src="../static/js/getcookie.js"></script>
</head>
<body>
<header>
    <section class="Topmenubg">
        <div class="Topnav">
            <div class="LeftNav">
                <a href="/login">注册</a>/<a href="/login">登录</a>
            </div>
            欢迎：<span id="msg" style="color: #d43f3a;font-weight: bold"> </span>
            <div class="dropdown">
                <span style="color:red;font-weight: bold"> > </span>
                <div class="dropdown-content">
                    <a href="/modifyUser">修改密码</a>
                    <a href="/logout">退出登录</a>
                </div>
            </div>
            <div class="RightNav">
                <a href="/userInformation">用户中心</a> <a href="/userOrderList"  title="我的订单">我的订单</a> <a href="/shoppingCart">购物车（0）</a> <a href="/userCollect" target="_blank" title="我的收藏">我的收藏</a> <a href="#">商家入驻</a>
            </div>
        </div>
    </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../static/images/logo.jpg" title="DeathGhost" alt="模板">
   <i></i>
   <span>西安市 [ <a href="#">莲湖区</a> ]</span>
  </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
    <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
   </div>
   <div class="Search_area"> 
   <input type="search" id="fkeyword" name="keyword" placeholder="请输入您所需查找的餐厅名称或食物名称..." class="searchbox" />
   <input type="submit" class="searchbutton" value="搜 索" />
   </div>
   </form>
   <p class="hotkeywords"><a href="#" title="酸辣土豆丝">酸辣土豆丝</a><a href="#" title="这里是产品名称">螃蟹炒年糕</a><a href="#" title="这里是产品名称">牛奶炖蛋</a><a href="#" title="这里是产品名称">芝麻酱凉面</a><a href="#" title="这里是产品名称">滑蛋虾仁</a><a href="#" title="这里是产品名称">蒜汁茄子</a></p>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
      <li><a href="/index_user">首页</a></li>
      <li><a href="/orderFood">订餐</a></li>
      <li><a href="/pointShop">积分商城</a></li>
      <li><a href="/aboutWe">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<form action="#">
 <div class="gwc" style=" margin:auto;">
  <table cellpadding="0" cellspacing="0" class="gwc_tb1">
    <tr>
      <td class="tb1_td1"><input id="Checkbox1" type="checkbox"  class="allselect"/></td>
      <td class="tb1_td1">全选</td>
      <td class="tb1_td3">商品</td>
      <td class="tb1_td4">单价</td>
      <td class="tb1_td5">数量</td>  
      <td class="tb1_td6">总价</td>
      <td class="tb1_td7">操作</td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0" class="gwc_tb2" id="table1">
     {{range $k,$c := .cartList}}
    <tr class="tr">
      <td  class="tb2_td1"><input type="checkbox"  value="1" name="newslist" class="newslist-1" id="newslist-1" /></td>
      <td   class="tb2_td2"><a href="#" target="_blank"><img src="../static/upload/01.jpg"/></a></td>
      <td id="td1" class="tb2_td3"><a href="#" target="_blank">{{$c.DishName}}</a></td>
      <td class="tb1_td4"><s class="s" style="text-decoration: none;font-weight: bold">{{$c.Price}}/件</s></td>
      <td class="tb1_td5">
        <input class="min1" id="min1" name=""  style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="-" />
        <input class="text_box1" id="text_box1" name="" type="text" value="1" style=" width:40px;height:28px; text-align:center; border:1px solid #ccc;">
        <input class="add1" id="add1" name="" style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="+" />
      </td>
      <td id="td1" class="tb1_td6"><label id="total1" class="tot" style="color:#ff5500;font-size:14px; font-weight:bold;">{{$c.Price}}</label></td>
      <td class="tb1_td7"><a href="" ids= "{{$c.Id}}" class="del" id="delcart1">删除</a></td>
    </tr>
     {{end}}
  </table>
  <table cellpadding="0" cellspacing="0" class="gwc_tb3">
    <tr>
      <td class="tb1_td1"><input id="checkAll" class="allselect" type="checkbox" /></td>
      <td class="tb1_td1">全选</td>
      <td class="tb3_td1"><input id="invert" type="checkbox" />
        反选
        <input id="cancel" type="checkbox" />
        取消 </td>
      <td class="tb3_td2 GoBack_Buy Font14"><a href="/orderFood" style="background-color: #00a73e;font-weight: bold;font-size: 15px">继续购物</a></td>
      <td class="tb3_td2">已选商品
        <label id="shuliang" style="color:#ff5500;font-size:14px; font-weight:bold;">0</label>
        件</td>
      <td class="tb3_td3">合计(不含运费):<span>￥</span><span style=" color:#ff5500;">
        <label class="zong1" id="zong1" style="color:#ff5500;font-size:14px; font-weight:bold;">0.00</label>
        </span></td>
      <td class="tb3_td4"><span id="jz1">结算</span><a style=" display:none;cursor:pointer"  class="jz2" id="jz2">结算</a></td>
    </tr>
  </table>
</div>
</form>
<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  <a href="http://www.deathghost.cn" target="_blank" title="DeathGhost">DeathGhost</a>
  <a href="http://www.17sucai.com/pins/15966.html" target="_blank" title="免费后台管理模板">绿色清爽版通用型后台管理模板免费下载</a>
  <a href="http://www.17sucai.com/pins/17567.html" target="_blank" title="果蔬菜类模板源码">HTML5果蔬菜类模板源码</a>
  <a href="http://www.17sucai.com/pins/14931.html" target="_blank" title="黑色的cms商城网站后台管理模板">黑色的cms商城网站后台管理模板</a>
 </div>
<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>手机扫描二维码：</p>
    <img src="../static/images/Android_ico_d.gif">
    <img src="../static/images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>1830927**73</i></p>
    <p>配送时间</p>
    <p><time>09：00</time>~<time>22:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="article_read.html" target="_blank" title="标题">支付方式</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">配送方式</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">配送效率</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">服务费用</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i2"></i>关于我们</span>
    <ul>
     <li><a href="article_read.html" target="_blank" title="标题">招贤纳士</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">网站介绍</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">配送效率</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">商家加盟</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="article_read.html" target="_blank" title="标题">服务内容</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">服务介绍</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">常见问题</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">网站地图</a></li>
    </ul>
    </div>
  </section>
 </section>
</footer>
<script>
    var uname= getCookie('name');
    $("#msg").html(uname)
    $("#msg1").html(uname)

    $(".del").click(function(){
        var s = $(this).attr("ids")
        var b = confirm("亲！确定要删除吗？")
        if (b){
            $.ajax({
                url:'/deleteCart',
                type:'post',
                dataType:"json",
                data:{"Id":s},
                success:function (result) {
                    alert(result.msg);
                    window.location.href = "/shoppingCart"
                },
                error:function () {
                    alert("系统错误！！！")
                }
            });
        }

    })
    $("#jz2").click(function () {
        //获取选中购物车里商品的信息
      /*  var t = $(":checkbox:checked").parents("tr").find("input:text");
        alert(t)*/
        //存菜名
        var ss = []
        var s = $(":checkbox:checked").parents("tr").find("td[class=tb2_td3]");
        //存价格
        var price = []
        var p = $(":checkbox:checked").parents("tr").find("td[class=tb1_td6]");
        //存数量
        var count = []
        var c = $(":checkbox:checked").parents("tr").find("td[class=tb1_td5]");
        for(var i = 0;i<s.length;i++){
            ss[i] = $(s[i]).children().text();
            price[i] = $(p[i]).children().text();
            count[i] = $(c[i]).children("input.text_box1").val();
        }
        $.ajax({
            url:'/shopsClose',
            dataType:'json',
            type:'post',
            data:{"name":ss,"price":price,"count":count},
            traditional:true,
            success:function (result) {
                if (result.ret == 200) {
                    window.location.href = "/toOrderConfirm"
                }else {
                    alert(result.msg)
                }
            },
            error:function () {
                alert("系统错误！！！")
            }
        })


    })
</script>
</body>
</html>
