<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>十年一品-用户中心</title>
<link href="../static/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/jqpublic.js"></script>
    <script type="text/javascript" src="../static/js/getcookie.js"></script>
    <script>
$(function () {
    var uname= getCookie('name');
       $("#save").click(function () {
           $("#information1").html("");
           $("#information2").html("");
           $("#information3").html("");
           var name = uname
           var opwd = $("#opwd").val();
           var npwd = $("#npwd").val();
           var rpwd = $("#rpwd").val();
           if (opwd ==''){
                $("#information1").html("不能为空");
                return
           }else if(npwd == ''){
               $("#information2").html("不能为空");
               return
           }else if (rpwd == ''){
               $("#information3").html("不能为空");
               return
           }else if (npwd != rpwd){
               $("#information3").html("密码不一致");
               return
           }else{
               $.ajax({
                   url:'/modifyUser',
                   type:'post',
                   dataType:'json',
                   data:{"name":name,"Opassword":opwd,"Npassword":npwd},
                   success:function (data) {
                       if (data.ret == 200){
                           alert(data.msg);
                           $("#information3").html(data.msg);
                           window.location.href = '/login'
                       }else {
                           alert(data.msg);
                           $("#information3").html(data.msg);
                       }
                   },
                   error:function () {
                       alert("系统错误");
                   }
               })
           }

       });
       $("article").click(function () {
           var opwd = $("#opwd").val();
           var npwd = $("#npwd").val();
           var rpwd = $("#rpwd").val();
           if (opwd !=''){
               $("#information1").html("");
               return
           }else if(npwd != ''){
               $("#information2").html("");
               return
           }else if (rpwd != ''){
               $("#information3").html("");
               return
           }else if (npwd == rpwd){
               $("#information3").html("");
               return
           }else{
               return
           }
       })
           
        })
    </script>
    <style>
        #td1 input:hover{
            background-color:#00E5EE;
        }
    </style>
</head>
<body>
<header>
    <section class="Topmenubg">
        <div class="Topnav">
            <div class="LeftNav">
                <a href="/login">注册</a>/<a href="/login">登录</a>
            </div>
            欢迎：<span id="msg" style="color: #d43f3a;font-weight: bold"> </span>
            <div class="dropdown">
                <span style="color:red;font-weight: bold"> > </span>
                <div class="dropdown-content">
                    <a href="/modifyUser">修改密码</a>
                    <a href="/logout">退出登录</a>
                </div>
            </div>
            <div class="RightNav">
                <a href="/userOrderList"  title="我的订单"><img style="width: 40px" src="../static/images/dd.png"/></a> <a href="/shoppingCart"><img src="../static/images/car1.png"/></a>
            </div>
        </div>
    </section>
    <div class="Logo_search">
        <div class="Logo">
            <img src="../static/images/wangshangdingcan1.jpg">
            <i></i>
            <span style="color: #d43f3a;font-weight: bold;font-size: 16px">十年一品</span>
        </div>
        <div class="Search">
            <div style="border: 1px white solid;border-radius:6px; height: 45px;margin-top: 25px;height: 45px;background-color: black">
                <tt style="color:#d43f3a;font-size: 15px;font-weight: bold;">公告</tt> <marquee direction="left"  align="bottom" height="25" width="100%" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="6" scrolldelay="5">
                <t style="color: red;font-size: 19px;font-weight: bold;">{{.notice}}</t></marquee>
            </div>
        </div>
    </div>
 <nav class="menu_bg">
  <ul class="menu">
      <li><a href="/index_user">首页</a></li>
      <li><a href="/orderFood">订餐</a></li>
      <li style="background-color:#fd5411;"><a style="color: white" href="/userInformation">用户中心</a></li>
      <li><a href="/aboutWe">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
      <li><i></i><a href="/userInformation">用户中心首页</a></li>
      <li><i></i><a href="/userOrderList">我的订单</a></li>
      <li><i></i><a href="/userAddress">收货地址</a></li>
      <li><i></i><a href="/userLeaveWords">我的留言</a></li>
      {{/*<li><i></i><a href="/userCoupon">我的优惠券</a></li>
      <li><i></i><a href="/userCollect">我的收藏</a></li>*/}}
      <li><i></i><a style="color: #00670c" href="/modifyUser">账户管理</a></li>
      <li><i></i><a href="/logout">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user Account-->
  <section class="AccManage Overflow">
   <span class="AMTitle Block Font14 FontW Lineheight35">账户管理</span>
      用户名：<span id="msg1" style="color: #d43f3a;font-weight: bold"></span>
   <form>
    <table>
    <tr>
    <td width="30%" align="right">*原始密码：</td>
    <td><input type="email" name="opwd" id="opwd" value=""><span id="information1" style="color: #d43f3a;font-weight: bold;font-size: 15px"></span></td>
    </tr>
    <tr>
    <td width="30%" align="right">*初始密码：</td>
    <td><input type="email" name="npwd" id="npwd" value=""><span id="information2" style="color: #d43f3a;font-weight: bold;font-size: 15px"></span></td>
    </tr>
    <tr>
    <td width="30%" align="right">*确认密码：</td>
    <td><input type="tel" name="rpwd" id="rpwd" value=""><span id="information3" style="color: #d43f3a;font-weight: bold;font-size: 15px"></span></td>
    </tr>
    <tr>
    <td></td>
    <td id="td1"><input name="" type="button" value="保 存" id="save" style="cursor: pointer;color: #ffffff;font-weight: bold;width: 187px;"></td>
    </tr>
    </table>
   </form>
  </section>
 </article>
</section>
<!--End content-->
<div class="F-link">
    <span>合作商家-友情链接：</span>
    <a style="color: #80b188" href="http://hlnme.canyinfood.com/nc2/?utm_source=baiduppc&utm_medium=ppc&utm_term=%E5%8D%A1%E6%97%BA%E5%8D%A1&utm_content=%3C%E5%8D%A1%E6%97%BA%E5%8D%A1%E5%A5%B6%E8%8C%B6%3E&utm_campaign=HLNME_%5B%E7%AB%9E%E5%93%81%5D%28%E5%A5%B6%E8%8C%B6%29&semk=67916069841&semc=17606887199&semm=1&semp=cl5&sema=bj&semd=pc" target="_blank" title="卡旺卡">卡旺卡</a>
    <a style="color: #80b188" href="http://www.southbeauty.com/" target="_blank" title="俏江南">俏江南</a>
    <a style="color: #80b188" href="http://www.waipojia.com/WCMS/Index.aspx" target="_blank" title="外婆家">外婆家</a>
    <a style="color: #80b188" href="http://www.weijialiangpi.com/home.aspx" target="_blank" title="魏家凉皮">魏家凉皮</a>
    <a style="color: #80b188" href="http://www.swgg100.com/bd/kyp/pc/1dd.html?e_keywordid=82461111989" target="_blank" title="一点点">一点点</a>
</div>
<footer>
    <section class="Otherlink">
        <aside>
            <div class="ewm-left">
                <p>手机扫描二维码：</p>
                <img style="width: 95px;height: 119px" src="../static/images/二维码.png">
                <img style="width: 95px;height: 119px" src="../static/images/微信.jpg">
            </div>
            <div class="tips">
                <p>客服热线</p>
                <p><i>17730185585</i></p>
                <p>配送时间</p>
                <p><time>09：00</time>~<time>22:00</time></p>
                <p>网站公告</p>
            </div>
        </aside>
        <section>
            <div>
                <span><i class="i1"></i>配送支付</span>
                <ul>
                    <li><a href="/aboutWe" target="_blank" title="标题">支付方式</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">配送方式</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">配送效率</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">服务费用</a></li>
                </ul>
            </div>
            <div>
                <span><i class="i2"></i>关于我们</span>
                <ul>
                    <li><a href="/aboutWe" target="_blank" title="标题">招贤纳士</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">网站介绍</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">配送效率</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">商家加盟</a></li>
                </ul>
            </div>
            <div>
                <span><i class="i3"></i>帮助中心</span>
                <ul>
                    <li><a href="/aboutWe" target="_blank" title="标题">服务内容</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">服务介绍</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">常见问题</a></li>
                    <li><a href="/aboutWe" target="_blank" title="标题">网站地图</a></li>
                </ul>
            </div>
        </section>
    </section>
</footer>
<script>
    var uname= getCookie('name');
    $("#msg").html(uname)
    $("#msg1").html(uname)
</script>
</body>
</html>
