<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">总注册</span>
                <span class="info-box-number">{{.RegisterCount}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-person-add"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">今日注册用户</span>
                <span class="info-box-number">{{.TodayRegisterCount}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-mobile-phone"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">总下单用户</span>
                <span class="info-box-number">{{.OrderCount}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-phone"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">今日下单用户</span>
                <span class="info-box-number">{{.TodayOrderCount}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>

{{/*
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{.RegisterCount}}</h3>

                <p>总注册人数</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{.TodayRegisterCount}}</h3>

                <p>今日注册用户</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a  class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>{{.OrderCount}}</h3>

                <p>总下单用户</p>
            </div>
            <div class="icon">
                <i class="fa fa-mobile-phone "></i>
            </div>
            <a  class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{.TodayOrderCount}}</h3>

                <p>今日下单用户</p>
            </div>
            <div class="icon">
                <i class="fa fa-phone"></i>
            </div>
            <a  class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
*/}}
<div class="box" style="overflow-y:auto; overflow-x:auto; width:100%; height:690px">
    <div class="box-header">
        <h3 class="box-title">用户管理</h3>

        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" id="name_in" name="table_search" class="form-control pull-right" placeholder="输入用户名字">

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default search_name"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody id="userbody"><tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>手机号</th>
                <th>操作</th>
            </tr>
            {{range $k, $v := .userList}}
            <tr class="th">
                <td>{{$v.OrderUsersId}}</td>
                <td>{{$v.Name}}</td>
                <td>{{$v.CreateTime}}</td>
                {{if eq $v.Accountstatus 1}}
                <td><span class="label label-success">启用</span></td>
                        {{else if eq $v.Accountstatus 2}}
                <td><span class="label label-danger">禁用</span></td>
                        {{end}}
                <td>{{$v.Phone}}</td>
                <td><a class="fa  fa-trash delete" uid = {{$v.OrderUsersId}} style="cursor:pointer"></a> <!--删除 -->
                    {{if eq $v.Accountstatus 1 }}
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a title="禁用" style="color: red;cursor:pointer" class="fa fa-minus-square state" i="{{$v.Accountstatus}}" uid = {{$v.OrderUsersId}}></a></td> <!--禁用 -->
                    {{else if eq $v.Accountstatus 2 }}
                        &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;<a title="启用" style="color: #00a73e;cursor:pointer" class="fa fa-check-square state" i="{{$v.Accountstatus}}" uid = {{$v.OrderUsersId}}></a></td> <!--启用 -->
                    {{end}}
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<script>
    $(function () {
        $(".delete").click(function () {
            var uid = $(this).attr("uid");
            if(confirm("确定要删除吗？")){
                $.ajax({
                    url:'/delete_user',
                    dataType:'json',
                    type:'post',
                    data:{"uid":uid},
                    success:function (result) {
                        if(result.ret == 200) {
                            alert(result.msg)
                            window.location.reload()
                        }else{
                            alert(result.msg)
                        }
                    },
                    error:function () {
                        alert("系统错误！！")
                    }
                })
            }
        });

        $(".state").click(function () {
            var uid = $(this).attr("uid");
            var i = $(this).attr("i");
            if(confirm("确定要修改状态吗？")){
                $.ajax({
                    url:'/update_user_status',
                    dataType:'json',
                    type:'post',
                    data:{"uid":uid,"i":i},
                    success:function (result) {
                        if(result.ret == 200) {
                            alert(result.msg)
                            window.location.reload()
                        }else{
                            alert(result.msg)
                        }
                    },
                    error:function () {
                        alert("系统错误！！")
                    }
                })
            }
        })
        $('.search_name').click(function () {
            var name = $('#name_in').val()
            window.location.href = '/admin_index?name='+name
        })
    })
</script>
